:root{
    --main-green:#24B940;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background: rgb(36,185,64);
background: linear-gradient(90deg, rgba(36,185,64,1) 36.5%, rgba(255,255,255,1) 32%);
}
.log-conatiner {
    height: 80%;
    border: 2px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    margin: 60px;
    background: linear-gradient(90deg, rgba(36,185,64,1) 35%, rgba(255,255,255,1) 35%);
    box-shadow: 0px -1px 20px 9px #00000038;
}
.left_color_side{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.left_color_side img{
    width: 362px;
    margin: 0px;
}

.left_color_side h2{
    font-size: 30px;
}
.left_color_side p{
    text-align: center;
    width: inherit;
}
.right_login_side{
    width:60%;
}
.help{
    text-align: end;
}
.frame{
    margin: 80px 0px;
}
.frame .lable {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.frame .email,.pass{
    font-size: 18px;
    font-weight: 400;
}

#email ,#Password{
    border: 1px solid #eee;
    width: 90%;
    padding: 15px;
    font-size: 19px;
    /* color: #00000059; */
    margin: 15px 0px;
}

.forgot {
    font-size: 15px;
    font-weight: 400;
    text-align: end;
    margin-right: 80px;
}
#btn {
    width: 90%;
    background-color: var;
    background-color: var(--main-green);
    height: 51px;
    color: white;
    font-size: 22px;
    margin: 60px 0px;
    border: none;
}
#btn a{
    color: white;
    text-decoration: none;
}
@media (max-width:830px) and(min-width:500px) {
    .log-conatiner {
        overflow: hidden;
    }
    .left_color_side img {
        width: 256px;
        margin-left: -87px;
        margin-top: -60px;
    }
    .left_color_side h2 {
        margin-left: -82px;
        font-size: 22px;
        margin-top: -30px;
    }
    .left_color_side p {
        text-align: center;
        width: inherit;
        margin-left: -73px;
    }
}
@media (max-width:499px){
    .log-conatiner {
        overflow: hidden;
        background: linear-gradient(90deg, rgba(36,185,64,1) 20%, rgba(255,255,255,1) 2%);
    }
    
    .left_color_side {
        display: none;
    }
    .right_login_side {
        width: 100%;
    }
    
}